<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.url == "/Resume/" %}
  <meta name="robots" content="noindex,nosnippet,noodp,noarchive,noimageindex" />
  {% endif %}
  <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
  <script src="/assets/js/docready.min.js"></script>
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700">
  <link href="/assets/css/TagCloud.css" rel="stylesheet" />
  <link href="/assets/css/common.css" rel="stylesheet" />
  {% include analytics.html %}
  {% seo %}
</head>

<body{% if page.id %} id="{{ page.id }}"{% endif %} class="{{ page.layout }}">

  <div class="full-width olives">
    <div class="navbar">
        <div class="container">
            <a href="/"><img class="logo" src="/assets/img/logomark.png" alt="GitHub and Government" width="269" height="23"></a>
            <ul>
              <li><a href="/About">About Me and Studio</a></li>
              <li><a href="/Repositorys">Repositorys on Github</a></li>
              <li><a href="/#contact-a-human">Contact</a></li>
            {% if site.show_resume == true %}
              <li><a href="/Resume" rel="nofollow">Resume</a></li>     
            {% endif %}
            </ul>
        </div>
    </div>
    <!-- .full-width here gets closed on support-page.html and home.html layouts -->
